html, body {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #333;
}

#game-canvas {
    background: #fff;
    position: absolute;
    top: 0px;
    /* center */
    margin: 0 auto;
    left: 0; right: 0;

    /* dsi */
    width: 240px;
    height: 352px;

    /* general */
    width: 68vmin;
    height: 100vmin;
}

#overlay {
    position: absolute;
    top: 0px;
    /* center */
    margin: 0 auto;
    left: 0; right: 0;

    /* dsi */
    width: 240px;
    height: 352px;

    /* general */
    width: 68vmin;
    height: 100vmin;
}

#top-overlay {
    height: 50%;
}

#bottom-overlay {
    height: 50%;
    padding: 10px;
}
